@import url('https://fonts.googleapis.com/css?family=Paytone+One');

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.show-image {
    margin: 0 auto;
    margin-bottom: 15px;
}

.hidden {
    display: none;
}

.panel-title {
    font-weight: bold;
}

.bg-black, .panel-default > .panel-heading.bg-black {
    background-color: #000000;
    color: #FFFFFF;
}

.button-area {
    margin-top: 15px;
    text-align: center;
}


.jumbotron h1 {
    font-family: 'Paytone One', sans-serif;
    margin-top: 10px;
}

.question-block {
    max-width: 600px;
    margin: 0 auto;
}

.timer-box {
    font-size: 25px;
    text-align: center;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.list-group {margin-bottom: 0;}